<div class="container">
  <div class="title">
  <h1>Share Fit</h1>
    </div>
    <%= link_to "index", categories_path %>
    <div class="main-content">
    <h3>A Revolutionary step in fitness</h3>
      <div class="sign-up">

      </div>
    </div>
</div>
